In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [3]:
gdf = gpd.read_file("../data/cook_county_with_geometries4.geojson")

,id,Cleaned Name,Purchaser,Residence,Social Status,Aliquot Parts or Lot,Section Number,Township,Range,Meridian,...,Voided,Lot Matches,Name Matches,Duplicate,IBL,part,block,lot,YEAR,geometry
0,0,ABBE CHRISTIAN,ABBE CHRISTIAN,UNKNOWN,A,LOT2NWNE,16.0,36N,13E,3.0,...,False,None,0,False,,NWNE,NaN,2.0,1852.0,"POLYGON ((-87.74681 41.61773, -87.74191 41.617..."
1,1,ABBOTT ALLISON,ABBOTT ALLISON,UNKNOWN,A,LOT1SW,6.0,40N,13E,3.0,...,False,None,1,False,,SW,NaN,1.0,1841.0,"POLYGON ((-87.79759 41.98283, -87.79762 41.982..."
2,2,ABBOTT JOSEPH,ABBOTT JOSEPH,UNKNOWN,None,NWSW,3.0,37N,12E,3.0,...,False,2,2,False,,NWSW,NaN,NaN,1853.0,"POLYGON ((-87.85677 41.72505, -87.85220 41.725..."
3,3,ABBOTT SAMUEL S,ABBOTT SAMUEL,UNKNOWN,None,SW,14.0,40N,13E,3.0,...,False,None,3;4,False,,SW,NaN,NaN,1838.0,"POLYGON ((-87.72767 41.95549, -87.72769 41.955..."
4,4,ABBOTT SAMUEL S,ABBOTT SAMUEL S,UNKNOWN,None,SE,15.0,40N,13E,3.0,...,False,None,3;4,False,,SE,NaN,NaN,1838.0,"POLYGON ((-87.73746 41.95391, -87.73747 41.954..."